@import "spritesheet";

#myhuhu {
  position: fixed;
  display: block;
  width: 100px;
  height: 100px;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
/*  &:hover {
    .dashboard;
  }*/
}

#myhuhu-sprite {
  background-image: url('img/spritesheet.png');
} 

.run-right {
  margin-left: -115px;
}
.run-right-before {
  margin-left: -115px;
}
.run-right-after {
  margin-left: -115px;
}
.sleep {
  margin-top: 8px;
  margin-left: -94px;
}
.sleep-before {
  margin-top: 8px;
  margin-left: -94px;
}
.sleep-after {
  margin-top: 8px;
  margin-left: -94px;
}

.btn {
  -moz-user-select: all !important;
  -webkit-user-select: all !important;
  -ms-user-select: all !important;
}

.huhu-life-tip{
  position:absolute;
  left:0;top:0;
  background:rgba(255,159,22,0.75);
  color:#000;
  font-size:24px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:block;
  padding:8px 10px 6px 10px;
  opacity:1;
  font-size: 20px;
  -ms-filter:none;
  filter:none;
}

.huhu-life-tip.huhu-show{
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -o-transition:all 0.5s;
  -ms-transition:all 0.5s;
  transition:all 0.5s;
  font-size: 20px;
  -webkit-transition-timing-function:ease-in;
  -moz-transition-timing-function:ease-in;
  -o-transition-timing-function:ease-in;
  -ms-transition-timing-function:ease-in;
  transition-timing-function:ease-in;
  top:-20px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0)
}

.progress {
  position: absolute;
  left: 0;
  top: -10px;
  width:80px; 
  height:10px; 
  background: white; 
  border: 1px black; 
  border-style: solid;
}

.progress:hover {
  cursor: pointer;  
}

.progress-bar {
  float: left;
  width: 30%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-align: center;
  background-color: red;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;  
}

.dashboard {
  right: -210px;
/*  display: none;*/
  top: 0;
  width: 210px;
  height: 100%;
  position: absolute;
  transition: right 2s; 
  -webkit-transition: right 2s; 
  -moz-transition: right 2s; 
  -ms-transition: right 2s; 
  -o-transition: right 2s; 

  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: -1px 0px 3px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -1px 0px 3px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         -1px 0px 3px 3px rgba(50, 50, 50, 0.75);

/*  -moz-transition-property: background-color, color, right;
  -moz-transition-duration: 5s;
  -webkit-transition-property: background-color, color, right;
  -webkit-transition-duration: 5s;
  -o-transition-property: background-color, color, right;
  -o-transition-duration: 5s;*/
}

.dashboard.slide-in {
  right: 0;
/*  transition: right 1s; 
  -webkit-transition: right 1s; 
  -moz-transition: right 1s; 
  -ms-transition: right 1s; 
  -o-transition: right 1s; */


/*  -moz-transition-property: background-color, color, right;
  -moz-transition-duration: 5s;
  -webkit-transition-property: background-color, color, right;
  -webkit-transition-duration: 5s;
  -o-transition-property: background-color, color, right;
  -o-transition-duration: 5s;*/
}
/*.dashboard-title {
  color:  #F9F900;
  text-align: center;
  margin-top: 30px;
}*/

.dashboard-btn {
  display: block;
  margin: 25px auto;
  width: 160px;
  padding: 10px;
  text-align: center;
/*  text-shadow:#b2e2f5 0 1px 0;*/
  font-weight: bold !important;
  cursor: pointer;
  font-size: 1.2em;
  background: rgb(255, 107, 0);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
/*  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;*/
  border:1px solid rgb(255, 102, 0);
  border-bottom: 5px solid rgb(255, 43, 0);
}

.dashboard-img-btn:hover {
  background: rgb(255, 136, 0);
}

.dashboard-msg-huhu:hover {
  background: rgb(255, 136, 0);
}

.dashboard-footer {
  position: absolute;
  bottom: 5px;
  min-width: 210px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.love {
  color: rgba(255, 0, 0, 0.8);
}

.huhu-blood-circle {
  display: block;
  margin-top: 50px;
  text-align: center;
  color: white;
}

.drop-down {
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -o-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);  
}
